form{
  width: 100%;
  padding: 2rem;
  border-radius: .5rem;
}

input{
  border: none;
  padding: .5rem 1rem;
}

input[type^='text']{
  border-radius: .5rem 0 0 .5rem;
}

input[type^='checkbox']{
  cursor: pointer;
  margin: .5rem 1rem;
  height: min-content;
  padding: 0;
  background-color: transparent;
  appearance: none;
}

input[type^='checkbox']::after{
  content: "";
  display: block;
  border: 2px solid #C6DE41;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  transition: .3s;
}

input[type^='checkbox']:checked::after{
  background-color: #C6DE41;
}

.btn{
  border-radius: 0 .5rem .5rem 0;
  background-color: var(--light-green-2);
  cursor: pointer;
  transition: .3s;
  font-weight: bold;
}

.btn:hover{
  color: var(--light-green-2);
  background-color: var(--white);
}

li{
  width: 100%;
  max-width: 500px;
  margin: 15px auto;
  list-style: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
}

li p{
  line-break: anywhere;
  align-self: center;
}

li, li div{
  display: flex;
  justify-content: space-between;
}

li button{
  background-color: var(--light-green-2);
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  height: min-content;
  cursor: pointer;
  transition: .3s;
}

li button:hover{
  background-color: #00000020;
}

svg{
  width: 20px;
  height: 20px;
}

p{
  text-align: center;
}

/* responsive */

@media (max-width:472px){
  form{
    width: 100%;
  }
  input{
    width: 100%;
    border-radius: 5px !important;
    margin: 5px 0;
  }
  li{
    width: 100%;
  }

  form, li{
    padding: 1rem;
  }
}